:root {
  --background: #2a2626;
  --button-util: #4d453f;
  --button-num: #736b65;
  --button-op: #fe9f06;
}

body {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#calculator {
  border-radius: 20px;
  border: 2px solid var(--background);
  background-color: var(--background);
  width: 600px;
  height: 1000px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  height: 1000px;
  width: 600px;
}

#display {
  display: flex;
  justify-content: end;
  align-items: end;
  flex: 1 1 200px;
  margin: 16px;
  padding: 0px;
}

h1 {
  font-family: monospace;
  font-weight: normal;
  color: #e7e7e7;
  font-size: 4rem;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
#button-container {
  display: flex;
  margin: -8px;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  flex: 5 1 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5 1 25%;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  border: 1px solid var(--background);
}

#clear {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 10 1 50%;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  background-color: var(--button-util);
  border: 1px solid var(--background);
}

.button.util {
  background-color: var(--button-util);
}

.button.num {
  background-color: var(--button-num);
}

#zero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 10 1 50%;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  background-color: var(--button-num);
  border: 1px solid var(--background);
}

.button.op {
  background-color: var(--button-op);
}
h2 {
  font-family: monospace;
  font-weight: bold;
  color: #e7e7e7;
  font-size: 48px;
  text-align: center;
  user-select: none;
}
